<head>
    <link rel="stylesheet" href="/stylesheets/alerts.css">
</head>

<% if(success && success.length) { %>
    <div class="alert success-alert">
        <h3 class="alert-header"><%= success %></h3>
        <a class="close">&times;</a>
    </div>
    
<% } %>

<% if(error && error.length) { %>
    <div class="alert warning-alert">
        <h3 class="alert-header"><%= error %></h3>
        <a class="close">&times;</a>
      </div>
<% } %>


<script>
    $(".close").click(function() {
        $(this)
            .parent(".alert")
            .fadeOut();
    });
</script>