<head>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href='/stylesheets/circles.css'>
</head>
 
<div class="footer-wrapper-form">
    <div class="shape-blue about-blue"></div>   
    <div class="footer-form">
        <form action="/contactUs" method="POST" >
            <h2>Нужна консультация?</h2>
            <div class="input-group-footer">
                <input type="tel" placeholder="Ваше имя" name="name" id="user-name" required>
                <input type="text" name="mobile" placeholder="Номер телефона" id="user-mobile" required>
                <input type="submit" value="Свяжитесь со мной" id="contact-us-submit">
                
            </div>
            <div class="alert" role="alert" id="validation-message"></div>
            
            <h5>Гарантируем сохранность личных данных</h5>
        </form>    
    </div>   
</div>



<div class="footer-contacts">
    <div class="footer-logo"></div>
    <div class="links-footer">
        <ul class="links-footer-list">
            <li><a href="/projects">Каталог</a> </li>
            <li><a href="/articles">Статьи</a></li>
            <li><a href="">О нас</a></li>
            <li><a href="/guides">Гид по городам</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
    <div class="social-footer">
            <div class="icons-wrapper">
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class='footer-mobile-wrapper'>
                <span class="footer-mobile">+38 (066) 321 65 98</span>
            </div>
            
            <a class="contact-us" href="#modal-full" uk-toggle>Связаться</a> 
    </div>
    <div id="modal-full" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <div class="uk-background-cover" style="background-image: url('../images/three.jpeg'); " uk-height-viewport></div>
                <div class="uk-padding-large">
                    <h2>Свяжитесь со мной</h2>
                    <div class="uk-form-controls">
                        <label class="uk-form-label" for="form-stacked-text">Имя и фамилия</label>
                        <input class="uk-input" name="name" id="form-stacked-text" type="text" placeholder="">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Телефон</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" name="mobile" id="form-stacked-text" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="mobile" id="form-stacked-text" type="text" placeholder="">
                    </div>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" id="form-s-textarea" rows="5" placeholder="Сообщение..." name="text"></textarea>
                    </div>
                    <div uk-alert="" class="uk-alert">Гарантируем сохранность личных данных.</div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<script src="/javascripts/contact-us-validation.js"></script>

