<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
     
   
  </head>
  <body>
        <% include ../partials/navbar %>
        <% include ../partials/flash-messages %>
        <%- body -%>
        <% include ../partials/footer %>
        
        
  </body>
  
</html>