<% layout('layouts/boilerplate') -%>
<head>
	<link rel='stylesheet' href='/stylesheets/404.css' />
</head>

<div class="wrapper-not-found">
    <h2>Упс! Запрашиваемая страница не существует!</h2>
    <img src="/images/image-404.svg" alt="">
    <div class="btn"><a href="/">Вернуться на главную</a></div>
</div>


