body {
    font-weight:500;
    font-family: 'Lato', sans-serif;
}

.wrapper-not-found {
    width: 100%;
    max-width:800px;
    height: auto;
    margin: 30px auto 110px;
    text-align: center;
}

a {
    font-size: 24px;
    color:white;
}

a:hover {
    color:white;
    text-decoration: none;
}

.btn {
    background-color: #83A6F6;
    padding:20px 24px;
    border-radius: 12px;
}

h2 {
    color: #4B535F;
    margin-top:0;
    margin-bottom: 30px;
}

img {
    margin-top: 16px;
    margin-bottom:-40px;
}