body {
    font-weight:500;
    font-family: "Lato-Regular";
    
}

.wrapper-not-found {
    width: 100%;
    max-width:800px;
    height: auto;
    margin: 16px auto;
    padding:0 16px;
    text-align: center;
    position: relative;
    
}

a {
    font-size: 24px;
    color:white;
}

a:hover {
    color:white;
    text-decoration: none;
}



.not-found-title {
    font-family: 'GothamPro';
    font-weight: bold;
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 24px;
    line-height: 114.9%;
    text-align: center;
    color: #4B535F;
}

img {
    width:100%;
    max-width:582px;
    margin-top: -70px;
}

.notfound-bg {
	background-image: url('../images/404.svg');
	background-repeat: no-repeat;
    width: 100%;
    max-width: 662px;
	height: 100%;
	background-size: 100%;
	position: absolute;
	z-index: -100;
	background-position: center;
	left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

@media all and (min-width: 900px) { 
    .wrapper-not-found {
        margin: 121px auto 110px;
        padding:0;
        
        
    }
    
    .not-found-title {
        
        font-size: 42px;
        line-height: 114.9%;
        
    }
}