.wrapper-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width:1535px;
    margin:0 auto;
    flex-wrap: wrap;
}

.content-wrapper {
    margin-top:32px;
    height: auto;
    flex: 0 0 50%;
    max-width: 50%;
   
}

       
.title-text {
    font-family: 'GothamPro', sans-serif;
    font-size: 65.6106px;
    line-height: 114.9%;
    color: #4B535F;
    margin-bottom: 69px;
    font-weight: 700;
}

.project-card {
    padding:32px 16px;
    margin:0 8px;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 1px 0 rgba(18,52,64,0.15), 0 8px 8px 0 rgba(18,52,64,0.05), 0 16px 16px 0 rgba(18,52,64,0.05);
    position: relative;
    z-index: 111;
    background-color: #EEF0F3;
}

.project-card:hover {  
    animation: scale 1s infinite;
    cursor: pointer;
    transform: scale(1.05);
  }

.article-image {
    object-fit: cover;
    max-width:485px;
    width:100%;
    height:352px;   
}


.article-title-index {
    font-family: "Lato-Regular",  sans-serif;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 31px */
    color: #4B535F;
    display: inline-block;
    
    padding-bottom: 3px;
    margin:28px 0 9px;
}


.createdDate {
    font-size: 12px;
    font-family: "Lato-Regular",  sans-serif;

    font-style: normal;
    font-weight: bold;
    color:#757575;
    margin:0;
}

@media (max-width: 1600px) {
    .content-wrapper, .wrapper-articles  {
        max-width:1535px;
    } 
}

@media (max-width: 1440px)  {
    .content-wrapper, .wrapper-articles  {
        max-width:1240px;
    } 
}


@media all and (min-width: 900px) {
    .project-card {
        margin:0 10px 40px;
    }
    .article-title-index {
        font-size: 24px;
        line-height: 130%;
    }

    .content-wrapper {
        margin-top:101px;
        flex: 0 0 33%;
        max-width: 33%;
        
    }

    .createdDate {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .content-wrapper {
        margin-top:32px;
        height: auto;
        flex: 0 0 85%;
        max-width: 85%;
       
    }

    .article-image {
        object-fit: cover;
        max-width:485px;
        width:100%;
        max-height:280px;  
    }
}
