.main-section {
    height: auto;
    width:100%;
    margin-top:-30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly; 
}
.right-section {
  max-width:910px;
  width:100%;
  height:auto;
  margin-top:0;
  position: relative;
}
.left-section {
    max-width:719px;
    width:100%;
    height:auto;
    
    margin-top: 15px;
}
.copter {
    background-image: url('../images/copter.png');
    max-width:100px;
    height:60px;
    background-repeat: no-repeat;
    background-position:25% 50%;
    background-size: 100%;
    margin-left:75%;
    margin-top:-30px;
    animation: none;
    transform: rotate(45deg);
}
.title-mobile {
    font-family: 'GothamPro', sans-serif;
    font-size: 30px;
    line-height: 130%;
    color: #4B535F;
    display: block;
    font-weight:500;
    margin:25px 16px 0;
    font-size: 30px;
}
.header-title {
    font-size: 65.6106px;
    margin:0;
    font-family: 'GothamPro', sans-serif;
    font-weight: 500;
    line-height: 114.9%;
    color: #4B535F;
    display: none;
}
.text-index-title {
    display: none;
}
.main-section .input-group {
    background: #FFFFFF;
    border-radius: 7px;
    max-width:500px;
    width:90%;
    height: auto;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.building-main {
  min-height: auto;
}
  
.input-text-head {
  border:none;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  width:90%;
  margin:0 auto;
  display: block;
  height:52px;
  color: #2F3B43;
  background: url('../images/ellipsis.png') no-repeat;
  border-bottom: 1px solid #9EC1E1;
  background-position: center right;
  text-align: left;
  cursor: pointer;
}
.input-text-head:focus {
  outline: none;
  background:none;  
}
.input-text-head:focus::-webkit-input-placeholder {
  color: transparent;   
}
::placeholder { 
  color: #2F3B43;
}
.input-submit-head {
  background-image: linear-gradient(315.87deg, #F34B31 -11.35%, #FFA782 106.98%);
  padding: 14px 106px;
  background-size: 300%;
  margin:12px 11px 12px 20px;
  color:white;
  border:none;
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  cursor: pointer;
  margin:8px auto;
  moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.input-submit-head:hover {
  background-position: 100% 0;
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.second {
  border-left: none;
  padding-left: 0;
}
.location-dropdown {
  width: 320px !important;
  text-align: left;
  padding:0 !important;
  border-radius: 3px;
  
}
.search-location {
  width: 266px;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  color: #2F3B43;
  border: 1px solid RGBA(74,82,94,0.3);
  box-sizing: border-box;
  border-radius: 5px;
  height: 51px;
  padding: 10px 16px;
  margin: 20px 32px 6px;
}

.search-location::placeholder {
  color: #C9CBCF;
}

input[type="search"]::-webkit-search-cancel-button  {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background: url('../images/Union.svg') no-repeat;
}

.search-location:focus {
  outline: none !important;
  border: 2px solid RGBA(74,82,94,0.3);
}

.uk-active  {
  margin-bottom: 8px !important;
}



.uk-active label {
  margin: 0;
  cursor: pointer;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom:12px;
  
}

.uk-active label:hover {
  color: #5570BA;
}

.uk-active .label-last {
  margin-bottom:0; 
}

.list-variants {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #F2F4F7;
  padding: 9px 38px 32px !important;
}



.list-variants li {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-right: 20px;
  border-bottom: 1px solid RGBA(47,59,67,0.7);
  color: #2F3B43;
  opacity: 0.7;
  margin-top: 15px;
  cursor: pointer;
}

.price-dropdown, .area-dropdown {
  width: 320px !important;
  padding:0 !important;
}

.input-price {
  width:100px;
  height: 41px;
  padding:8px 11px;
  color: #2F3B43;
  border: 1px solid RGBA(74,82,94,0.3);
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #2F3B43;
}

.wrapper-price-inputs {
  margin: 26px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-price:focus, .input-area:focus {
  outline: none !important;
  border: 2px solid RGBA(74,82,94,0.3);
}

.input-price::placeholder,.input-area::placeholder  {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */  
  color: #C9CBCF;
}
.price-button  {
  width: 40px;
  height: 41px;
  background-image: url('../images/button-price-image.svg'), linear-gradient(290.75deg, #F34B31 -11.35%, #FFA782 106.98%);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


@media all and (min-width: 900px) {
    .main-section {
        flex-direction: row;
        margin-top:-97px;
    }
    .right-section {
        margin-top:240px;
    }
    .copter {
      background-image: url('../images/copter.png');
      max-width:230px;
      height:205px;
      margin:0;
      background-repeat: no-repeat;
      margin-bottom:-110px;
      transform: rotate(-6deg);  
  }
      .header-title {
        display: block;
    }
    .title-mobile {
        display: none;
    }
    .main-section .input-group {
        max-width:730px;
        margin-top:73px;
        width:100%;
        flex-direction: row;
        align-items: center;
    }

    .input-submit-head {
    background-image: linear-gradient(315.87deg, #F34B31 -11.35%, #FFA782 106.98%);
    padding: 27px 41px 27px 40px;
    margin:12px 11px 12px 20px;
    color:white;
    border:none;
    text-transform: uppercase;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    cursor: pointer;
    }

    .input-text-head, .input-submit-head {
      cursor: pointer;
    }
  
    .input-text-head {
      border:none;
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      width:221px;
      height:52px;
      color: #2F3B43;
      background: url('../images/ellipsis.png') no-repeat;
      background-position:  center right ;
      cursor: pointer;
    }

    

    .location-dropdown {
      width: 542px !important;
      text-align: left;
      padding:0 !important;
      border-radius: 3px;
      
    }
  
    .search-location {
      width: 466px;
      background: #FFFFFF;
      font-size: 18px;
      line-height: 22px;
      color: #2F3B43;
      border: 1px solid RGBA(74,82,94,0.3);
      box-sizing: border-box;
      border-radius: 5px;
      height: 51px;
      padding: 13px 20px;
      margin: 27px 38px 6px;
    }
    
    .search-location::placeholder {
      color: #C9CBCF;
    }
    
    input[type="search"]::-webkit-search-cancel-button  {
        -webkit-appearance: none;
        height: 14px;
        width: 14px;
        background: url('../images/Union.svg') no-repeat;
    }
    
    .search-location:focus {
      outline: none !important;
      border: 2px solid RGBA(74,82,94,0.3);
    }
  
    .uk-active  {
      margin-bottom: 12px !important;
    }
    
  
    
    .uk-active label {
      margin: 0;
      cursor: pointer;
      font-family: "Lato-Regular", sans-serif;
      font-size: 18px;
      line-height: 22px;
      margin-bottom:12px;
      
    }
    
    .uk-active label:hover {
      color: #5570BA;
    }
    
    .uk-active .label-last {
      margin-bottom:0; 
    }
  
    .list-variants {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      background: #F2F4F7;
      padding: 9px 38px 32px !important;
    }
    
    
    
    .list-variants li {
      font-family: 'Lato-Regular', sans-serif;
      font-size: 18px;
      line-height: 22px;
      margin-right: 20px;
      border-bottom: 1px solid RGBA(47,59,67,0.7);
      color: #2F3B43;
      opacity: 0.7;
      margin-top: 15px;
      cursor: pointer;
    }
  
    .price-dropdown, .area-dropdown {
      width: 445px !important;
      padding:0 !important;
    }
  
    .input-price {
      width:150px;
      height: 51px;
      padding:13px 21px;
      color: #2F3B43;
      border: 1px solid RGBA(74,82,94,0.3);
      border-radius: 5px;
      font-size: 18px;
      line-height: 22px;
      color: #2F3B43;
    }
 
    .wrapper-price-inputs {
      margin: 26px 37px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .input-price:focus, .input-area:focus {
      outline: none !important;
      border: 2px solid RGBA(74,82,94,0.3);
    }
    
    .input-price::placeholder,.input-area::placeholder  {
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */  
      color: #C9CBCF;
    }
    .price-button  {
      width: 55px;
      height: 51px;
      background-image: url('../images/button-price-image.svg'), linear-gradient(290.75deg, #F34B31 -11.35%, #FFA782 106.98%);
      background-repeat: no-repeat;
      background-position: center;
      outline: none;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }


    .text-index-title {
        font-size: 18px;
        line-height: 180%;
        display: block;
        margin-top:52px;
    }

    .input-text-head {
    
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    max-width:242px;
    height:100%;
    min-height:52px;
    color: #2F3B43;
    background: url('../images/ellipsis.png') no-repeat;
    background-position:center right ;
    }

    .second {
      border-left: 2px solid rgba(158, 193, 225, 0.5) ;
      padding-left: 12px;
    }
    
    .left-section {
        margin-top: 206px;
    }
}

@media (max-width:1460px) and (min-width:700px) {
  .main-section {  
      box-sizing: border-box;
  }
  .second {
    border-left: none;
    padding-left: 0;
  }
  .left-section {
    margin:inherit auto;
  }
  .main-section .input-group {
    margin-top:6vw;
    flex-direction: column;
    max-width:400px;
    width:100%;
  }
  .input-text-head {
    margin:5px auto;
    width:100%;
    max-width:90%;
    border-bottom: 1px solid #9EC1E1;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background-position:  center right ;
  }
  .input-submit-head {
    padding: 18px 109px;
    margin:10px auto;
  }
  .header-title {
    font-size: 48px;
    margin:0 32px ;
    font-weight: normal;
  }
  .copter {
    background-image: url('../images/copter.png');
    max-width:120px;
    height:175px;
    margin-top:-30px;    
  } 
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-section .input-group {
    max-width:288px;
    width:100%;
  }
  .input-submit-head {
    padding: 14px 104px;
  }
  .uk-dropdown {
    left:0 !important;
  } 
}
@media (max-width:1280px) and (min-width:900px) {
  .main-section .input-group {
    max-width:320px;
    width:100%;
  } 
  .header-title {
      font-size: 40px;
  }
  .right-section {
    margin-top:200px;
  }
  .second {
    border-left: none;
    padding-left: 0;
  }   
}​


/* uikit css */

:root {
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
}

.uk-dropdown-nav {
  white-space: nowrap;
  font-size: 0.875rem;
}

.uk-nav,
.uk-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.uk-dropdown {
  /* 1 */
  display: none;
  /* 2 */
  position: absolute;
  z-index: 1020;
  /* 3 */
  box-sizing: border-box;
  min-width: 200px;
  /* 4 */
  padding: 25px;
  background: #fff;
  color: #666;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}
/* Show */
.uk-dropdown.uk-open {
  display: block;
}

:root {
  --uk-leader-fill-content: .;
}

.uk-dropdown-nav {
  white-space: nowrap;
  font-size: 0.875rem;
}
/*
 * Items
 */
.uk-dropdown-nav > li > a {
  color: #999;
}
/* Hover + Focus + Active */
.uk-dropdown-nav > li > a:hover,
.uk-dropdown-nav > li > a:focus,
.uk-dropdown-nav > li.uk-active > a {
  color: #666;
}
/*
 * Header
 */
.uk-dropdown-nav .uk-nav-header {
  color: #333;
}
/*
 * Divider
 */
.uk-dropdown-nav .uk-nav-divider {
  border-top: 1px solid #e5e5e5;
}
/*
 * Sublists
 */
.uk-dropdown-nav .uk-nav-sub a {
  color: #999;
}
.uk-dropdown-nav .uk-nav-sub a:hover,
.uk-dropdown-nav .uk-nav-sub a:focus,
.uk-dropdown-nav .uk-nav-sub li.uk-active > a {
  color: #666;
}