/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {   
    padding: 0 10px;
    position: relative;
    z-index: 99999;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center right;
}


.navbar-logo {
    background-image: url('./../images/elapce-logo.png');
    width:137px;
    height: 50px;
    display: inline-block;
    margin-bottom:10px;
    font-size:0;
}

.hide-link {
    font-size: 0 !important;
}

ul {
    list-style-type: none;
    
}

.item a {
    font-family: "Lato-Regular", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    text-decoration: none;
    color: #4B535F;
}


.item a:hover {
    text-decoration: none;
    color: #4B535F;
}





.item i {
    color:#4B535F;
    font-size:23px;
    margin:0 8px;
    
}

.logo a,
.toggle a {
    font-size: 20px;
}



.item.mobile {
    margin-left:0;
    
}



.item.button-navbar {
    padding:14px 23px;
}



.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    margin-bottom: 30px;
    padding-left:8px;
}
.toggle {
    order: 1;
}


.item {
    width: 100%;
    text-align: center;
    order: 3;
    margin:5px 0;
    display: none;
}

.item.icons {
    order:3;
    
}
.item.active {
    display: block;
}



.toggle a {
    color:#4B535F;
}

.toggle a:hover {
    color:#4B535F;
}

/* Tablet menu */
@media all and (min-width: 600px) {
    
    .menu {
        justify-content: center;
        margin-bottom: 0;
    }
    .logo {
        max-width:250px;
        margin-right:10vw;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    .item.button {
        width: auto;
        order: 3;
        display: block;
        
    }
  
    .button a {
        padding: 7.5px 15px;
        
    }
    .item {
        margin:5px 0;
    }
    

    
}

/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
        order: 1;
        
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
        padding:0;
    }
    
  
    .logout {
        order:3;
    }

    
    .icon-navbar {
        order:3;
        
    }
    
  
    .item.mobile {
        margin-left:156px;
    }
    
    li.logo {
        padding:0;
    }
    
    
    .button-navbar.item {
        width:auto;
        min-width:100px;
    }
    .item {
        margin:0 10px;
    }

    .icons {
        margin:0 5vw;
    }


}


@media (max-width: 1750px) {
    .icons {
        margin:0 2vw;
    }
}

@media (max-width: 1500px) {
  

    li.item {
        margin:0;
    }

    .item.mobile {
        margin-left:100px;
    }

    
}

@media (max-width: 1280px) {
    
    .logo {
        margin-right:3vw;
    }
    .item a {
        font-size:16px;
    }
    .icons {
        display: none;
    }
    .item.mobile {
        margin-left:76px;
    }
}

@media (max-width:1000px) {

    .item.mobile {
        margin-left:0;
    }

    .item.icons {
        display: none;
    }
}

@media (max-width:1460px) and (min-width:700px) {
    .menu {
        justify-content: space-evenly;
    }
}