html {
    /* 1 */
    
    /* 2 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 3 */
    background: inherit !important;
    
  }
  

body {
    font-family: "Lato-Regular",sans-serif;
}

.pagination-wrapper {
    margin:82px auto 130px;
    max-width:500px;
    
}

.uk-pagination {
    margin:0 !important;
    display: flex;
    justify-content: space-around;
}

.arrow-prevnext {
    
}



.list-wrapper {
    width:90px;
    height:72px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4.26045px;
    padding-left: 0 !important;
}


.list-wrapper a {
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

    color: #93989F;
}

.arrow-prevnext span {
    color:#93989F;
    
}

.arrow-prevnext span svg {
    width:13px;
    height:22px;
}

.pagination {
    margin:0 auto;
}