body {
    background-color: #EEF0F3;
    font-family: "Lato-Regular";
}

.pagination-wrapper {
    margin:82px 117px;
}

.alert-light {
    background-color: #EEF0F3;
    border-color: transparent;
    margin:0 auto;
    padding:0;
    text-align: center;
    max-width: 400px;
}

.pagination {
    margin:0 auto;
}