
#map {
    max-width: 960px;
    width:100%;
    height: 443px;
    margin:0 16px;
}

a:hover {
    text-decoration: none !important;
}

.marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.map-info {
    display: none;
    
}

.map-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map-position-title {
    font-family: "Lato-Regular";
    
    font-size: 28px;
    line-height: 42px;
    /* or 150% */

    margin-bottom: 33px;
    margin-top:0;
    color: #4B535F;
} 

.city-link:hover {
    color: #5570BA;
} 

.city-link {
    display: inline-block;
    font-family: "Lato-Regular";
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    color: #5570BA;
    margin-bottom: 70px;
    border-radius: 100px;
}

.map-distance {
    font-family: "Lato-Regular",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
    color: #4B535F;
    margin-bottom:20px;
    margin-top:0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    
}


.image-gallery {
    vertical-align: top;
    max-width:90vh;
    width: 800px;
}



.edit-review-form {
   display:none;  
}

.clear-rating {
    display:block;
}

.project-title {
    font-family: 'GothamPro',sans-serif;
    font-size: 30px;
    line-height: 130%;
    color: #4B535F;
    margin:23px 16px 16px;
}


.content-project-wrapper {
    max-width:1536px;
    margin:20px auto;
}


.top-image {
    width: 100%;
    max-height: 722px;
    object-fit: cover;  
}

.information-wrapper {
    margin-top:40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    
}

.text-content {
    height: auto;
    font-family: "Lato-Regular",sans-serif;
    font-size: 14px;
    line-height: 170%;
    /* or 38px */
    color: #000000;
    opacity: 0.7;
    padding:0 16px;
}


.text-information {
    width: 764px;
}

.rating {
    margin:10px 0;
}



.details-information {
    max-width:550px;
    padding:0 16px;
    margin-bottom:30px;
    width:100%;
}

.description-title {
    font-family: "Lato-Regular",sans-serif;
    max-width: 300px;
    width: 50%;
    display: inline-block;
    font-size: 16px;
    line-height: 100%;
    color: #4B535F;
}

.location-info {
    font-family: 'Ubuntu', sans-serif;
    
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 129% */

    border-bottom:2px solid #5570BA;

    color: #5570BA;

}

.details-info {
    font-family: "Lato-Regular",sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height */
    color: #4B535F;
    max-width:100px;
    display: inline-block;
}

.details-price {
    font-family: "Lato-Regular",sans-serif;
    
    font-weight:600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-transform: uppercase;

    color: #5570BA;
}

.price-wrapper {
    margin-top: 36px;
}

.info-wrapper {
    margin-top:30px;
}



.input-submit-head {
    background-image: linear-gradient(315.87deg, #F34B31 -11.35%, #FFA782 106.98%);
    padding: 13px 24px;
    color:white;
    border:none;
    text-transform: uppercase;
    font-family: "Lato-Regular",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border-radius: 5px;
    cursor: pointer;
  }

  .input-submit-head:hover {
    color:white;
  }

  .contact-icon {
      
      font-size: 20px;
      background-color: white;
      padding: 11px;
      border-radius: 2.84091px;
  }

  .margin-icon {
      margin:0 20px 0 30px;
  }

  .margin-show {
      margin:0;
  }

  .wrapper-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top:26px;
  }

  .gallery-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    max-width: 1535px;
    margin:0 auto;
  }

  .gallery-item {
    margin-bottom: 70px;
    padding: 0 16px;
    height: auto;
    cursor: pointer;
    flex: 0 0 30.33333333%;
    max-width: 30.33333333%;
  }

  .gallery-title {
    font-size: 24px;
    line-height: 27px;
    margin:141px 16px 100px;
  }


  .slide-title {
      
      display: inline-block;
      font-family: "Lato-Regular", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      display: block;
      position: absolute;
      bottom: 4vh;
      right: 1vh;
        
  }

  .modal {
      height: 100vh;
  }

  .close-gallery {
      
      
      font-size: 50px;
      color:black;
      background-color: transparent;
      z-index: 9999999;
      position: absolute;
      right: 2rem;
      top: 2rem;
      cursor: pointer;
    
      padding: 0px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
  }

  #Lightbox {
    opacity: 1;
    animation:show  .1s;
    background-color: white;
    z-index:100;
    
  }

  @keyframes show {
      from {
          transform: scale(0);

          opacity:0;
          z-index:-1;
          
      } to {
          transform: scale(1);
          opacity: 1;
          z-index:100;
      }
  }

  .add-favourite {
    font-family: "Lato-Regular", sans-serif;
    padding: 5px 8px;
    margin:37px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid #5570BA;
    color: #5570BA;
  }

  .yellow {
      font-size:20px;
      color:#F5F404;
  }

  .project-card {
    max-width:485px;
    width:100%;
    height:auto;
}


.title-image {
    object-fit: cover;
    max-width:485px;
    width:100%;
    max-height: 260px;
}


.project-title-index {
    font-family: "Lato-Regular", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 31px */
    color: #4B535F;
    display: inline-block;
    border-bottom: 2px solid #4B535F;
    padding-bottom: 3px;
    margin:28px 0 9px;
}


.project-price-index {
    font-family: 'GothamPro', sans-serif;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height */
    color: #4B535F;
    border-radius: 12px;
}

.project-price-index:hover {
    color: #4B535F;
}

.project-short-info {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height */
    margin-bottom: 7.5px;

    color: #4B535F;
    margin-top:0 !important;
    opacity: 0.6;
    border-radius: 5px;
}

.more-objects {
    
    background-color: white;
    width:100%;
    padding:100px 0 114px; 
    height:auto
    
}

.more-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:1535px;
    margin:0 auto;
}

.more-objects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:1535px;
    margin:0 auto;
}

.more-title {
    margin:0 16px 42px !important;
    
    max-width: 1535px;
    margin-left:0;
    
}

.create-review {
    margin:16px;
    
}

.create-review a {
    color: #5570BA;
}

.create-review a:hover {
    color: #5570BA;
}

.review-body {
    margin-left:16px;
}

@media (max-width: 1600px) {
    .content-project-wrapper,  .more-wrapper, .gallery-show  {
        max-width:1535px;
        
    } 
    .more-title {
        margin-left:16px !important; 
    }
    
}

@media (max-width: 1440px)  {
    .content-project-wrapper,  .more-wrapper, .gallery-show  {
        max-width:1240px;  
    } 
    .more-title {
        margin-left:16px !important; 
    }
}    

@media all and (min-width: 900px) { 
    .swiper-container-mobile {
        width: 100%;
        height: 100%;
        display:block;
    }
    .project-title {
        font-family: 'GothamPro';
        font-size: 60px;
        line-height: 114.9%;
        color: #4B535F;
        margin:20px 0 28px;
    }
    .information-wrapper {
        margin-top:118px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        
    }   
    .text-information {
        max-width: 50%;
    }
    
    .text-content {
        font-size: 18px;
        line-height: 210%;
        padding:0;
    }
    .details-information {
        max-width:42%;
        
        padding:0;
        margin-bottom: 0;
    }
    .description-title {
        width: 75%;
        font-size: 28px;
        line-height: 42px;
        
    }
    .location-info {
        font-size: 28px;
        line-height: 36px;
        /* identical to box height, or 129% */
    }
    .info-wrapper {
        margin-top:30px;
    }
    .details-info {
        font-size: 28px;
        line-height: 34px;
        max-width: 220px;
        display: inline-block;
    }
    .price-wrapper {
        margin-top:53px;
    }
    .details-price {
        font-size: 48px;
        line-height: 58px;
    }

    .wrapper-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:60px;
    }
    .contact-icon {
        font-size: 34px;
        padding: 20px;
        border-radius: 5px;
        
    }
    .input-submit-head {
        padding: 27px 41px 27px 40px;
    }

      .add-favourite {
        font-family: "Lato-Regular";
        padding: 10px 16px;
        margin:37px 0;
        display: inline-block;
        font-weight: 500;
        font-size: 22px;
        line-height: 36px;
        border: 1px solid #5570BA;
        color: #5570BA;
      }

      .yellow {
        font-size:40px;
        color:#F5F404;
    }

    .gallery-show {
        justify-content: flex-start;
      }
    
    .gallery-item {
        width: 485px;
        height: auto;
        margin:0 8px 70px;
        padding:0;
    }
    .content-project-wrapper {
        
        padding: 0 16px;
    }
    .map-info {
        width:501px;
        height:321px;
        display: block;
    }
    .gallery-title {
        font-size: 48px;
        
    }

    
    .review-body, .create-review  {
        margin-left:0;
        margin-bottom: 30px;
    }

    

    .more-objects-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width:1240px;
        margin:0 auto;
    }
    

    .project-card {
        max-width:485px;
        width:100%;
        
        margin:0 25px;
    }
    
    
    .title-image {
        object-fit: cover;
        max-width:485px;
        width:100%;
         
    }

    
    .project-title-index {
        
        font-size: 24px;
        line-height: 130%;
        /* identical to box height, or 31px */
        
    }


    .project-price-index {
        
        font-size: 28px;
        line-height: 27px;
        
    }

    .project-short-info {
        
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        margin-bottom: 27px;
        
    }

    .more-title {
        margin-left:196px; 
    }

    .swiper-container-mobile {
        display: none;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .swiper-slide img {
        max-width: 90vh;
        height: auto;
        max-height: 90vh;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
    
      .swiper-wrapper {
        margin-left:-400px;
      }
    
      .swiper-slide {
        
        max-width: 90vh;
        height: auto;
        max-height: 90vh;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
}
    

@media (min-width: 320px) and (max-width: 480px) {
    .rating {
        width:100%;
        max-width: 250px;
        margin-top:16px;
    }

   .project-title {
       font-size: 24px;
       margin:16px 16px ;
   }

   #map {
        height: 293px;
    }

    .wrapper-icons {
        margin-top:26px;
    }
    .more-objects {
        padding:42px 0 51px; 
    }
    .project-card {
        margin:0;
    }
    
}


@media (max-width:1320px) {
    .information-wrapper {
        justify-content: space-between;
    }
    .details-information {
        margin-bottom:30px;
    }
    .input-submit-head {
        padding: 24px 30px;
    }
    
    .map-info {
        margin:10px 16px;
        
    }

    .more-wrapper {
        display: flex;
        margin:0 auto;
        max-width: 1545px;
        width:100%;
    }

    .more-objects-wrapper {
        display: flex;
        
        margin:0 auto;
        max-width: 1545px;
        width:100%;
    }
    .project-card {
        
        padding:0 16px;
        margin:25px auto;
    }
    
}


@media (max-width:900px) {
    .mobile-hover, .gallery-show, .top-image {
        display: none;
    }
    
    
    .input-submit-head {
        padding: 14px 18px;
    }
    
      .swiper-container-mobile {
        margin:0 16px;
        position: relative;
        overflow: hidden;
        display: block;
        list-style: none;
        padding: 0;
        /* Fix of Webkit flickering */
        z-index: 1;
      }
      .swiper-slide:nth-child(1) {
        width: 90%;
        margin-left:-10vw;
      }
      
}




  