body {
    background-color: #EEF0F3;
}

a:hover {
    text-decoration: none !important;
    color: #5570BA;
}

.content-wrapper {
    max-width:1535px;
    margin:0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

#map {
    max-width: 1920px;
    margin:0 auto;
    height:600px;
}

.wrapper-project-index {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
    margin:0 auto;
    align-items: center;
}


.project-card {
    margin:32px 0;
    padding:32px 16px;
    height:auto;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    flex: 0 0 45%;
    max-width: 45%;
    box-shadow: 0 0 1px 0 rgba(18,52,64,0.15), 0 8px 8px 0 rgba(18,52,64,0.05), 0 16px 16px 0 rgba(18,52,64,0.05);
    position: relative;
    z-index: 111;
    background-color: #EEF0F3;
}   
 

.project-card:hover {
    animation: scale 1s infinite;
    cursor: pointer;
    transform: scale(1.05);
}

.title-image {
    max-width:470px;
    width:100%;
    height:auto;   
}

.project-title-index {
    font-family: "Lato-Regular",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px; 
    line-height: 130%;
    /* identical to box height, or 31px */
    color: #4B535F;
    display: inline-block;
    margin-top:10px;
    margin-bottom: 9px;
}


.project-price-index {
    font-family: 'GothamPro',sans-serif;
    /* identical to box height */
    color: #4B535F;
    border-radius: 12px;
    font-size: 18px;
    line-height: 22px;
    
}

.project-price-index div:hover {
    color: #4B535F;
}



.main-title {
    font-family: 'GothamPro', sans-serif;
    font-size: 30px;
    line-height: 130%;
    color: #4B535F;
    margin:34px 0 24px;
    max-width: 1170px;
}

.project-short-info {
    font-family: 'Museo',sans-serif;
    font-weight:700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin-bottom:7.5px;
    color: #4B535F;
    opacity: 0.6;
    border-radius: 5px;
    margin-top:0 !important;
}

@media (max-width: 1600px) {
    .content-wrapper {
        max-width:1535px;
        
    } 
}

@media (max-width: 1440px)  {
    .content-wrapper {
        max-width:1240px;
        
    } 
}

@media all and (min-width: 900px) { 
    
    .project-card {
        margin:0 10px 80px;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .project-card:hover {
        animation: scale 1s infinite;
        cursor: pointer;
        transform: scale(1.05);
    }
    .wrapper-project-index {
        flex-direction: row;
        align-items: flex-start;
    }

    .content-wrapper {
        padding:0;
    }

    .title-image {
        object-fit: cover;
        padding:0;
        transition: all .2s ease-in-out;    
    }
    
    
    .project-title-index {
        font-size: 24px;
        margin-left:0;
        margin-top:28px;
        margin-bottom: 9px;
    }
    
    
    .project-price-index {
        font-size: 28px;
        line-height: 27px;
    }

    .project-price-index div {
        margin-left:0;
    }
    
    .main-title {
        font-size: 65.6106px;
        font-weight: 700;
        
    }
    
    .project-short-info {
        font-size: 20px;
        line-height: 24px;
        margin-left:0;
        margin-bottom: 18px;
        margin-top: inherit;
    }


}

@media (max-width: 576px) {
    .project-card  {
        margin:16px 0 0;
        height: auto;
        flex: 0 0 85%;
        max-width: 85%;
    }

    .wrapper-project-index {
        flex-direction: column;
    }
}

