body {
  margin: 0;
  padding: 0;
  background-color: #EEF0F3;
}


.mapboxgl-popup {
  max-width: 400px;
  font:12px/20px 'Helvetica Neue', 'Arial', sans-serif
}

@font-face {
  font-family: "Lato-Regular";

  src: url("../fonts/Lato-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
       
}
