<% layout('layouts/boilerplate') -%>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>





<div class="wrapper-articles">
   <div>about history</div>
</div>
