<h1>New Project</h1>



<form action="/projects" method="POST" enctype="multipart/form-data">
	<div><input type="text" name="project[title]" placeholder="Title"></div>
	<div><input type="text" name="project[price]" placeholder="Price"></div>
	<div>
			<input type="file" accept="images/*" name="images" multiple />
	</div>
	<!-- <input name="file1" type="file" accept="application/pdf"> */ -->
	<div><textarea name="project[description]" placeholder="Description"></textarea></div>
	<div><input type="text" name="project[location]" placeholder="Location"></div>

	<input type="submit">
</form>