<% layout('layouts/boilerplate') -%>




<form action="/projects" method="POST" enctype="multipart/form-data" class="ml-3">
	<h1>Добавить новый обьект</h1>
	<div class="form-row">
		<div class="form-group col-md-6">
			<p>Название объекта:</p>
			<div><input type="text" name="project[title]" placeholder="Название" class="form-control"></div>
		</div>	
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<p>Цена:</p>
			<div><input type="number" name="project[price]" step="100" placeholder="Цена" class="form-control"></div>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<p>Детальное описание объекта:</p>
			<textarea name="project[description]" placeholder="Описание"  class="form-control col-md-6" rows="3"></textarea>
		</div>
		
	</div>
	<div class="form-row "></div>
		<div class="custom-file col-md-6 mb-3">
			
			<label class="custom-file-label" for="inputGroupFile01">Фотографии:</label>
			<input type="file" accept="images/*" name="images" id="inputGroupFile01" class="custom-file-input" multiple  />	
		</div>	
		<!-- <input name="file1" type="file" accept="application/pdf"> */ -->
		
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Местоположение(координаты либо город, улица если координаты не предусмотрены)</label>
			<div><input type="text" name="project[location]" placeholder="Местоположение" class="form-control col-md-4"></div>	
		</div>
		
	</div>
	
	
	<div class="form-group col-md-6 border border-dark">
		<p>Назначение объекта - опционально:</p>
		<input type="radio" id="invest" name="project[appointment]" value="Инвестиции" >
		<label for="invest">Инвестиции</label>
		<input type="radio" id="rent" name="project[appointment]" value="Аренда">
		<label for="rent">Аренда</label>
		<input type="radio" id="personal" name="project[appointment]" value="Личное использование">
		<label for="personal">Личное использование</label>
	</div>
	
	<div class="form-group col-md-6 border border-dark">
		<p>Тип обьекта - обязательно:</p>
		<input type="radio" id="apartement" name="project[type]" value="Апартаменты" >
		<label for="apartement">Апартаменты</label>
		<input type="radio" id="villa" name="project[type]" value="Вилла">
		<label for="villa">Вилла</label>
		<input type="radio" id="plot" name="project[type]" value="Участок земли">
		<label for="plot">Участок земли</label>
		<input type="radio" id="commercial" name="project[type]" value="Коммерческая недвижимость">
		<label for="commercial">Коммерческая недвижимость</label>
		<input type="radio" id="renovation" name="project[type]" value="Объект под реконструкцию">
  		<label for="renovation">Объект под реконструкцию</label>
	</div>
	<div class="form-group col-md-6 border border-dark">
		<p>Расстояние до моря - опционально(для курортной недвижимости):</p>
		<input type="radio" id="100" name="project[seaDistance]" value="100" >
		<label for="100">До 100 метров</label>
		<input type="radio" id="1000" name="project[seaDistance]" value="1000">
		<label for="1000">До 1000 метров</label>
		<input type="radio" id="2000" name="project[seaDistance]" value="2000">
		<label for="2000">До 2000 метров</label>
	</div>
	<div class="form-group col-md-6 border border-dark">
		<p>Количество спален:</p>
		<input type="checkbox" id="1" name="project[bedrooms]" value="1" >
		<label for="1bedrooms">1 спальня</label>
		<input type="checkbox" id="2" name="project[bedrooms]" value="2">
		<label for="2bedrooms">2 спальни</label>
		<input type="checkbox" id="3" name="project[bedrooms]" value="3">
		<label for="3bedrooms">3 спальни</label>
		<input type="checkbox" id="4" name="project[bedrooms]" value="4">
		<label for="4bedrooms">4 спальни</label>
		<input type="checkbox" id="5" name="project[bedrooms]" value="5">
		<label for="5bedrooms">5 спален</label>
		<input type="checkbox" id="5+" name="project[bedrooms]" value="6">
		<label for="5+">Более 5</label>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<p>Площадь объекта:</p>
			<div><input type="number" name="project[area]" step="1" placeholder="Площадь" class="form-control col-md-4 mb-3"></div>	
			<input type="submit">
		</div>
	</div>
</form>